# ------------------------------------------------------------------
#
#    Copyright (C) 2016 Mikhail Kurinnoi
#
#    This program is free software; you can redistribute it and/or
#    modify it under the terms of version 2 of the GNU General Public
#    License published by the Free Software Foundation.
#
# ------------------------------------------------------------------


# AstroMenace

#include <abstractions/audio>
#include <abstractions/nvidia>

owner @{HOME}/**/AstroMenace ix,

/sys/bus/ r,
/sys/class/ r,
/sys/class/input/ r,
/sys/class/sound/ r,
/sys/devices/**/uevent r,
/sys/devices/pci**/sound/**/capabilities/* r,
/etc/udev/udev.conf r,

owner /tmp/.* m,
/run/udev/data/* r,

owner @{HOME}/.config/astromenace/ rw,
owner @{HOME}/.config/astromenace/* rw,

# Noisy
deny @{HOMEDIRS}/* w,
deny @{HOMEDIRS}/*/ w,
