# ------------------------------------------------------------------
#
#    Copyright (C) 2016 Mikhail Kurinnoi
#
#    This program is free software; you can redistribute it and/or
#    modify it under the terms of version 2 of the GNU General Public
#    License published by the Free Software Foundation.
#
# ------------------------------------------------------------------


# Make sure, that all cron scripts have profile here!
# /etc/cron.hourly/*
# /etc/cron.daily/*
# /etc/cron.weekly/*
# /etc/cron.monthly/*

#
# In order to update scripts profiles, use:
# apparmor_parser -r /etc/apparmor.d/cronbase
#


profile cron.hourly/logcheck.cron /etc/cron.hourly/logcheck.cron {
  #include <abstractions/base>
  #include <abstractions/nameservice>
  
  capability chown,
  capability dac_read_search,
  capability dac_override,
  
  /dev/tty rw,
  
  /bin/bash mr,
  /etc/cron.hourly/logcheck.cron r,
  /bin/mkdir ix,
  /bin/chown ix,
  /bin/su Px,
  /bin/bash ix,
  /usr/sbin/logcheck Px,
  
  /var/lock/logcheck/ rw,
  /run/lock/logcheck/ rw,
  
}

profile cron.daily/00_update_portage /etc/cron.daily/00_update_portage {
  #include <abstractions/base>
  #include <abstractions/user-tmp>
  
  capability sys_ptrace,
  capability dac_override,
  capability dac_read_search,
  
  /dev/tty rw,
  /dev/pts/[0-9]* w,
  @{PROC}/@{pid}/environ r,
  
  /bin/bash mr,
  /etc/cron.daily/00_update_portage r,
  /bin/mktemp ix,
  /bin/rm ix,
  /bin/cat ix,
  /bin/env ix,
  /bin/grep ix,
  /bin/su Px,
  /usr/bin/pgrep Px,
  /usr/bin/mail Px,
  /usr/lib{,32,64}/python-exec/python-exec2 Cx -> emerge,
  /lib{,32,64}/rc/bin/checkpath ix,
  
  
  profile emerge {
    #include <abstractions/base>
    
    /usr/lib{,32,64}/python-exec/python-exec2 m,
    /usr/lib{,32,64}/python-exec/python-exec2-c m,
    /bin/env r,
    
    /usr/lib{,32,64}/python-exec/@{PYTHON}/emerge Px,
    
    /etc/env.d/python/config r,
    
  }
  
}

profile cron.daily/aide /etc/cron.daily/aide {
  #include <abstractions/base>
  #include <abstractions/user-tmp>
  #include <abstractions/nameservice>
  
  capability sys_ptrace,
  capability dac_override,
  capability dac_read_search,
  
  /dev/tty rw,
  /dev/sda r,
  
  /bin/bash mr,
  /etc/cron.daily/aide r,
  /bin/mktemp ix,
  /bin/cat ix,
  /bin/rm ix,
  /bin/dd ix,
  /bin/grep ix,
  /bin/sed ix,
  /bin/mount Px,
  /bin/umount Px,
  /bin/su Px,
  /usr/bin/pgrep Px,
  /usr/bin/stat ix,
  /usr/bin/mail Px,
  /usr/bin/aide Px,
  /usr/bin/md5sum ix,
  /usr/bin/sha1sum ix,
  /usr/bin/sha512sum ix,
  /usr/sbin/gdisk Px,
  
  /var/lib/aide/ r,
  /var/lib/aide/* r,
  
}

profile cron.daily/chkrootkit /etc/cron.daily/chkrootkit {
  #include <abstractions/base>
  #include <abstractions/user-tmp>
  
  capability sys_ptrace,
  capability dac_override,
  capability dac_read_search,
  
  /dev/tty rw,
  
  /bin/bash mr,
  /etc/cron.daily/chkrootkit r,
  /bin/mktemp ix,
  /bin/cat ix,
  /bin/rm ix,
  /bin/grep ix,
  /bin/su Px,
  /usr/bin/pgrep Px,
  /usr/bin/mail Px,
  /usr/sbin/chkrootkit Px,
  
}

profile cron.daily/daily_backup.sh /etc/cron.daily/daily_backup.sh {
  #include <abstractions/base>
  #include <abstractions/user-tmp>
  
  capability sys_admin,
  capability sys_ptrace,
  capability dac_override,
  capability dac_read_search,
  
  /dev/tty rw,
  /dev/null w,
  @{PROC}/@{pid}/fd/ r,
  
  /bin/bash mr,
  /bin/chmod ix,
  /bin/date ix,
  /bin/tar ix,
  /bin/rm ix,
  /bin/cat ix,
  /bin/mktemp ix,
  /bin/lsblk Px,
  /bin/sort ix,
  /bin/mount Px,
  /bin/umount Px,
  /bin/grep ix,
  /bin/su Px,
  /usr/bin/pgrep Px,
  /sbin/cryptsetup Px,
  /sbin/lvm Px,
  /usr/bin/find ix,
  /usr/bin/mail Px,
  /usr/bin/uniq ix,
  
  / r,
  /home/ r,
  /home/** r,
  /etc/** r,
  /usr/** r,
  /tmp/** r,
  /var/lib/** r,
  /mnt/backup/Gentoo_Backup/ r,
  /mnt/backup/Gentoo_Backup/* rw,
  
}

profile cron.daily/glsa /etc/cron.daily/glsa {
  #include <abstractions/base>
  #include <abstractions/user-tmp>
  
  capability sys_ptrace,
  
  /dev/tty rw,
  
  /bin/bash mr,
  /etc/cron.daily/glsa r,
  /bin/mktemp ix,
  /bin/cat ix,
  /bin/rm ix,
  /bin/grep ix,
  /bin/su Px,
  /usr/bin/pgrep Px,
  /usr/bin/mail Px,
  /usr/lib{,32,64}/python-exec/python-exec2 Cx -> glsa_check,
  
  
  profile glsa_check {
    #include <abstractions/base>
    
    /usr/lib{,32,64}/python-exec/python-exec2 m,
    /usr/lib{,32,64}/python-exec/python-exec2-c m,
    /bin/env r,
    
    /usr/lib{,32,64}/python-exec/@{PYTHON}/glsa-check Px,
    
    /etc/env.d/python/config r,
    
  }
  
}

profile cron.daily/hosts.sh /etc/cron.daily/hosts.sh {
  #include <abstractions/base>
  #include <abstractions/user-tmp>
  #include <abstractions/nameservice>
  
  capability sys_admin,
  capability sys_ptrace,
  
  /dev/tty rw,
  
  /bin/bash mr,
  /etc/cron.daily/hosts.sh r,
  /bin/date ix,
  /bin/mv ix,
  /bin/chmod ix,
  /bin/grep ix,
  /bin/su Px,
  /usr/bin/pgrep Px,
  /usr/bin/wget ix,
  /usr/bin/stat ix,
  
  /etc/wgetrc r,
  /etc/hosts w,
  
  /var/log/hosts.log w,
  
  # Noisy
  deny /.wget-hsts rwk,
  
}

profile cron.daily/logrotate /etc/cron.daily/logrotate {
  #include <abstractions/base>
  
  /dev/tty rw,
  
  /bin/bash mr,
  /usr/bin/logger ix,
  
  /etc/cron.daily/logrotate r,
  /usr/bin/logrotate Px,
  
}

profile cron.daily/lynis /etc/cron.daily/lynis {
  #include <abstractions/base>
  #include <abstractions/user-tmp>
  
  capability sys_ptrace,
  
  /dev/tty rw,
  
  /bin/bash mr,
  /etc/cron.daily/lynis r,
  /bin/mktemp ix,
  /bin/cat ix,
  /bin/rm ix,
  /bin/grep ix,
  /bin/su Px,
  /usr/bin/pgrep Px,
  /usr/bin/mail Px,
  /usr/sbin/lynis Px,
  
}

profile cron.daily/man-db /etc/cron.daily/man-db {
  #include <abstractions/base>
  
  capability dac_override,
  capability dac_read_search,
  
  /dev/tty rw,
  
  /bin/bash mr,
  /etc/cron.daily/man-db r,
  /usr/bin/nice ix,
  /usr/bin/mandb Px,
  
}

profile cron.daily/oinkmaster /etc/cron.daily/oinkmaster {
  #include <abstractions/base>
  #include <abstractions/user-tmp>
  
  capability sys_ptrace,
  
  /dev/tty rw,
  
  /bin/bash mr,
  /etc/cron.daily/oinkmaster r,
  /bin/mktemp ix,
  /bin/cat ix,
  /bin/rm ix,
  /bin/grep ix,
  /bin/su Px,
  /usr/bin/pgrep Px,
  /usr/bin/mail Px,
  /usr/bin/oinkmaster.pl Px,
  /etc/init.d/suricata Px,
  
}

profile cron.weekly/mdadm /etc/cron.weekly/mdadm {
  #include <abstractions/base>
  
  /dev/tty rw,
  
  /bin/bash mr,
  /etc/cron.weekly/mdadm r,
  /bin/date ix,
  /usr/sbin/checkarray Px,
  
}

profile cron.weekly/weekly_backup.sh /etc/cron.weekly/weekly_backup.sh {
  #include <abstractions/base>
  #include <abstractions/user-tmp>
  
  capability sys_admin,
  capability sys_ptrace,
  capability dac_override,
  capability dac_read_search,
  
  /dev/tty rw,
  /dev/null w,
  @{PROC}/@{pid}/fd/ r,
  
  /bin/bash mr,
  /bin/chmod ix,
  /bin/date ix,
  /bin/tar ix,
  /bin/rm ix,
  /bin/cat ix,
  /bin/mktemp ix,
  /bin/lsblk Px,
  /bin/sort ix,
  /bin/mount Px,
  /bin/umount Px,
  /bin/grep ix,
  /bin/su Px,
  /usr/bin/pgrep Px,
  /sbin/cryptsetup Px,
  /sbin/lvm Px,
  /usr/bin/find ix,
  /usr/bin/mail Px,
  /usr/bin/uniq ix,
  
  / r,
  /home/ r,
  /home/** r,
  /etc/** r,
  /usr/** r,
  /tmp/** r,
  /var/lib/** r,
  /mnt/backup/Gentoo_Backup/ r,
  /mnt/backup/Gentoo_Backup/* rw,
  
}

profile cron.monthly/monthly_backup.sh /etc/cron.monthly/monthly_backup.sh {
  #include <abstractions/base>
  #include <abstractions/user-tmp>
  
  capability sys_admin,
  capability sys_ptrace,
  capability dac_override,
  capability dac_read_search,
  
  /dev/tty rw,
  @{PROC}/@{pid}/fd/ r,
  
  /bin/bash mr,
  /bin/chmod ix,
  /bin/date ix,
  /bin/tar ix,
  /bin/rm ix,
  /bin/cat ix,
  /bin/mktemp ix,
  /bin/mount Px,
  /bin/umount Px,
  /bin/grep ix,
  /bin/su Px,
  /sbin/lvm Px,
  /usr/bin/pgrep Px,
  /usr/bin/find ix,
  /usr/bin/mail Px,
  
  / r,
  /*/ r,
  /bin/** r,
  /bin/** r,
  /boot/** r,
  /etc/** r,
  /lib{,32,64}/** r,
  /opt/** r,
  /root/** r,
  /sbin/** r,
  /usr/** r,
  /tmp/** r,
  /var/** r,
  /mnt/backup/Gentoo_Backup/ r,
  /mnt/backup/Gentoo_Backup/* rw,
  
}
