# ------------------------------------------------------------------
#
#  Copyright (C) 2017 Mikhail Kurinnoi
#
#  This program is free software; you can redistribute it and/or
#  modify it under the terms of version 2 of the GNU General Public
#  License published by the Free Software Foundation.
#
# ------------------------------------------------------------------

# Отслеживаемые udisk2 точки монтирования (в т.ч. из /etc/fstab).

# READS/WRITES -----------------------------------------
/media/*/						r,	# udisks2, /media/VolumeName/
/media/sdb2/VM_SERVERS/					r,	# /etc/fstab
/media/sdb2/VM_SERVERS/launch_scripts/			r,	# /etc/fstab
/media/sdb2/VM_DESKTOP/					r,	# /etc/fstab
/media/sdb2/VM_WIN/					r,	# /etc/fstab
/run/media/*/*/						r,	# udisks2, /run/media/$USER/VolumeName/
