# ------------------------------------------------------------------
#
#    Copyright (C) 2016 Mikhail Kurinnoi
#
#    This program is free software; you can redistribute it and/or
#    modify it under the terms of version 2 of the GNU General Public
#    License published by the Free Software Foundation.
#
# ------------------------------------------------------------------

/etc/local.d/firewall.start Cx -> firewall,

profile firewall {
  #include <abstractions/base>
  
  capability sys_tty_config,
  
  /dev/tty rw,
  /dev/console rw,
  
  /bin/bash r,
  /etc/local.d/firewall.start r,
  /sbin/xtables-multi Px,
  
}



