# ------------------------------------------------------------------
#
#    Copyright (C) 2016 Mikhail Kurinnoi
#
#    This program is free software; you can redistribute it and/or
#    modify it under the terms of version 2 of the GNU General Public
#    License published by the Free Software Foundation.
#
# ------------------------------------------------------------------


/bin/ln Cx -> ln,
/bin/sleep ix,
/usr/bin/cairo-clock Px,
/usr/bin/killall Px,
/usr/bin/grive Px,
/usr/bin/conky Px,
  
profile ln flags=(complain) {
  #include <abstractions/base>
  
  /bin/ln r,
  
  owner @{XDG_DESKTOP_DIR}/* w,
  
}
