# ------------------------------------------------------------------
#
#    Copyright (C) 2016 Mikhail Kurinnoi
#
#    This program is free software; you can redistribute it and/or
#    modify it under the terms of version 2 of the GNU General Public
#    License published by the Free Software Foundation.
#
# ------------------------------------------------------------------



profile usr_local.bin.symlink_ondesktop /usr/local/bin/symlink_ondesktop.sh {
  #include <abstractions/base>
  
  /dev/tty rw,
  
  /usr/local/bin/symlink_ondesktop.sh r,
  @{shell} mr,
  /bin/ln Cx,
  
  
  profile ln /bin/ln {
   #include <abstractions/base>
    
    /dev/tty[0-9]* w,
    
    /bin/ln mr,
    
    owner @{HOME}/@{XDG_DESKTOP_DIR}/* w,
    
  }
}


profile usr_local.bin.sync_googledrive /usr/local/bin/sync_googledrive.sh {
  #include <abstractions/base>
  
  /dev/tty rw,
  /dev/tty[0-9] w,
  
  /usr/local/bin/sync_googledrive.sh r,
  @{shell} mr,
  /usr/bin/grive Px,
  
}
