# ------------------------------------------------------------------
#
#    Copyright (C) 2016 Mikhail Kurinnoi
#
#    This program is free software; you can redistribute it and/or
#    modify it under the terms of version 2 of the GNU General Public
#    License published by the Free Software Foundation.
#
# ------------------------------------------------------------------


owner @{HOME}/.wine*/ rw,
owner @{HOME}/.wine*/** mrwk,

owner @{HOME_CACHE}/eve*/ rw,
owner @{HOME_CACHE}/eve*/** rw,
owner @{HOME}/Desktop/AstroMenace/ rwm,
owner @{HOME}/Desktop/AstroMenace/** rwm,
