# ------------------------------------------------------------------
#
#    Copyright (C) 2016 Mikhail Kurinnoi
#
#    This program is free software; you can redistribute it and/or
#    modify it under the terms of version 2 of the GNU General Public
#    License published by the Free Software Foundation.
#
# ------------------------------------------------------------------


audit /media/sdb1/VM_SERVERS/launch_scripts/* Pux,
audit /media/sdb2/VM_DESKTOP/* Pux,
audit /media/sdb2/VM_WIN/* Pux,
/usr/bin/gksu Px,
owner @{HOME}/.wine_eve/start_eve* Cx -> eveonline,


profile eveonline flags=(complain) {
  #include <abstractions/base>
  #include <abstractions/X>
  
  /dev/tty rw,
  /dev/tty[0-9]* w,
  
  /bin/bash r,
  owner @{HOME}/.wine_eve/start_eve* r,
  /usr/bin/xwininfo ix,
  /bin/grep ix,
  /bin/mkdir ix,
  /usr/bin/wine Px,
  
  owner @{HOME_CACHE}/eve*/ rw,
  owner @{HOME_CACHE}/eve*/** rw,
  
}
